/* CSS for website */

.chapter > a:link {
    color: #424242 !important;
}

.chapter > a:visited {
    color: #424242 !important;
}

.chapter > a:hover {
    color: #3F51B5 !important;
}

.chapter > a:active {
    color: #3F51B5 !important;
}


a:link {
    color: #3F51B5;
}

a:visited {
    color: #3F51B5;
}

a:hover {
    color: #424242;
}

a:active {
    color: #3F51B5;
}

/* Table of Contents */

.page-toc:before {
    content: "Table of Contents";
    font-weight: bold;
    margin-bottom: 24px;
}

.page-toc {
    float: none !important;
    mit-width: 66%;
	margin-top: 24px;
    background: #FAFAFA !important;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 20px !important;
	font-size: smaller;
}

.page-toc ul {
    padding-left: 20px;
}

.page-toc > ul {
	padding-left: 0;
}

.page-toc li {
    list-style: none;
}